.tableContainer {
  max-width: 100%;
  overflow: scroll;
  padding: 2px;
}

td,
tr,
th {
  white-space: nowrap;
  border: 1px solid black;
}

.select {
  width: 50%;
  text-align: center;
  font-size: 22px;
}

.width50 {
  width: 44%;
}

.input {
  width: 57%;
  text-align: center;
}

.custom-modal-width {
  width: 84%; /* Set the modal width to 80% */
  margin: auto;
}
